<div class="container">
  <div class="row mt-5">
    <div class="col-12 w-100">
      <h1 class="display-4 font-weight-bold text-center">Editando Estudiante</h1>
    </div>

    <div class="mx-auto">
      <%= render 'form', datos_estudiante: @datos_estudiante %>
    </div>

  </div>
</div>
